@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root{
    --almostWhite:hsl(0, 0%, 98%);
    --mediumGray: hsl(0, 0%, 41%);
    --almostBlack: hsl(0, 0%, 8%);
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Epilogue', sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
}

.overlay{
    display: none;
    position:absolute;
    height:100%;
    width:100%;
    background-color:rgba(0,0,0,0.7);
}

.container{
    max-width: 1500px;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem;
}

.menu__button{
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

.menu__items{
    z-index: 1;
    position: absolute;
    top:0;
    right: 0;
    height: 100vh;
    width: 65%;
    padding: 1rem;
    background: #fff;
    display: none;
}

.menu__cancel{
    float: right;
    background: none;
    border: none;
    outline: none;
    color: var(--almostBlack);
    cursor: pointer;
}

.opened img{
    content: url(./images/icon-arrow-up.svg);
}

.menu__items_multiple{
    padding: 3rem 0.5rem 1rem 0.5rem;
}

.menu__items_multiple div{
    padding: 0.6rem 0;
}

.feature__button,.company__button{
    display: flex;
    align-items: center;
    gap: 0.4rem;
    cursor: pointer;
}

.menu__feature__items,.menu__company__items{
    display: none;
}

.menu__submenu{
    display: flex;
    flex-direction: column;
    padding: 1rem !important;
}

.menu__submenu a{
    display: flex;
    align-items: center;
    gap:1rem;
    padding: 0.5rem 0;
    text-decoration: none;
    color: var(--mediumGray);
}

.menu__about{
    cursor: pointer;
}

.btn{
    border: none;
    background: none;
    outline: none;
    font-size: 1rem;
    color: var(--mediumGray);
}

.menu__items_signup{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.menu__items_signup a{
    text-decoration: none;
    color: var(--mediumGray);
    padding: 0.7rem 0.5rem;
    margin: 0.4rem;
    border-radius: 1rem;
}


.menu__items_signup a:nth-child(2){
    border: 3px solid var(--mediumGray);
}

.hero__img{
    width: 100%;
}

.content{
    padding: 2rem 1rem;
    text-align: center;
}

.content h2{
    font-size: 2rem;
    color: var(--almostBlack);
}

.content p{
    padding: 1rem 0;
    color: var(--mediumGray);
    line-height: 1.4rem;
}

.content_learnmore{
    background: var(--almostBlack);
    border: none;
    color: var(--almostWhite);
    padding: 1rem 1.3rem;
    border-radius: 1rem;
    font-size: 1rem;
}

.content_learnmore:hover{
    background: none;
    border:1px solid var(--almostBlack);
    color: var(--almostBlack);
    font-weight: 700;
    cursor: pointer;
}

.content_client{
    padding: 2rem 0 1rem 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-between;
    align-items: center;
}

.content_client img{
    width: 70px;
}

.content_client img:nth-child(2){
    width: 55px;
}

@media(min-width:800px)
{
    body{
        background: var(--almostWhite);
    }

    header{
        padding: 1.5rem;
        display: flex;
        align-items: center;
    }

    .header__menu{
        width: 90%;
    }

    .menu__button,.menu__cancel{
        display: none;
    }

    .menu__items{
        display: flex;
        background: var(--almostWhite);
        position: relative;
        height: auto;
        width: auto;
        align-items: baseline;
        padding: 0;
        justify-content: space-between;
        font-size: 0.9rem;
    }

    .btn{
        font-size: 0.9rem;
    }

    .btn:hover{
        color: var(--almostBlack);
    }

    .menu__items_multiple{
        display: flex;
        padding: 0;
    }

    .menu__items_multiple div{
        margin-right: 2.5rem;
    }

    .menu__feature__items{
        position: absolute;
        margin-top: 1.5rem;
        left: -4rem;
        background: #fff;
        border-radius: 1rem;
        box-shadow: 0rem 0rem 2rem 0rem #69696969;
    }

    .menu__company__items{
        position: absolute;   
        margin-top: 1.5rem;
        background: #fff;
        border-radius: 1rem;
        box-shadow: 0rem 0rem 2rem 0rem #69696969;
    }

    .menu__submenu{
        padding: 1.5rem 2rem  !important;
    }

    .menu__items_signup{
        flex-direction: row;
        align-items: baseline;
    }

    .menu__items_signup a:hover{
        color: var(--almostBlack);
    }

    .menu__items_signup a:nth-child(2){
        padding: 0.8rem 1.2rem;
    }

    main{
        display: grid;
        grid-template-columns: 60% 40%;
        padding: 3rem 7rem;
        align-items: end;
    }

    .hero{
        grid-column: 2;
        grid-row: 1;
        margin: 0 auto;
    }

    .hero__img{
        content: url(./images/image-hero-desktop.png);
        max-width: 400px;
    }

    .content{
        text-align:justify;
        padding: 0rem 1rem 0;
    }

    .content h2{
        font-size: 4rem;
    }

    .content h2 span::before{
        content: "\a";
        white-space: pre;
    }

    .content p{
        margin: 1.5rem 0;
        width: 65%;
        max-width: 600px;
    }
}